{% extends "base.html" %}

{% block content %}
    {% if validlink %}
        <p>Введите новый пароль.</p>
        <form action="" method="post">
            <div style="display:none">
                <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
            </div>
            <table>
                <tr>
                    <td>{{ form.new_password1.errors }}
                        <label for="id_new_password1">Новый пароль:</label></td>
                    <td>{{ form.new_password1 }}</td>
                </tr>
                <tr>
                    <td>{{ form.new_password2.errors }}
                        <label for="id_new_password2">Подтверждение:</label></td>
                    <td>{{ form.new_password2 }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value="Сменить" /></td>
                </tr>
            </table>
        </form>
    {% else %}
        <h1>Сброс пароля прошел неудачно</h1>
        <p>Ссылка неверная или уже была использована.<br />
        Попробуйте сбросить пароль еще раз.</p>
    {% endif %}
{% endblock %}
