<h2>Сервис для сохранения ссылок</h2>

<p>
    Сохраняйте заинтересовавшие вас ссылки для последующего вдумчивого чтения.
</p>
<p>
    В наше спешащее время мы не успеваем читать вдумчиво и спокойно. Пролистываем тонны информации за день.
    Теперь можно не спешить, а просто отложить ссылку на интересную статью, чтобы потом вернуться к ней и в спокойной
    обстановке вдумчиво ее прочитать.
</p>

<h2>Как это работает</h2>

<p>
    Для начала работы нужно только зарегистрироваться и получить API ключ.
</p>
<p>
    Дальше устанавливаете Команду "Shortcut" в ваше iOS или MacOS устройство и через меню "Поделиться" добавляете ссылку.
</p>
<p>
    При первом запуске Команда спросит ваш API ключ. Дальше все будет работать прозрачно и без лишних вопросов.
</p>

<p></p>
