{% load static %}
<h2>Сервис для сохранения ссылок</h2>

<p>
    Сохраняйте заинтересовавшие вас ссылки для последующего вдумчивого чтения.
</p>
<p>
    В наше спешащее время мы не успеваем читать вдумчиво и спокойно. Пролистываем тонны информации за день.
    Теперь можно не спешить, а просто отложить ссылку на интересную статью, чтобы потом вернуться к ней и в спокойной
    обстановке вдумчиво ее прочитать.
</p>

<h2>Как это работает</h2>

<p>
    Для начала работы нужно только зарегистрироваться и получить API ключ в вашем <a href="{% url 'profile' %}">профиле</a>.
</p>
<p>
    Дальше устанавливаете <a href="{% static 'apps/later42.shortcut' %}">Команду "Shortcut"</a> в ваше iOS или MacOS устройство, открываете ее и вставляете ваш API ключ вместо надписи PUT_YOUR_API_KEY_HERE.
</p>
<p>
    Теперь в Safari из меню "Поделиться" можно сохранять ссылки в сервисе Later42.
</p>

<p></p>
