{% load static %}
<h2>Часто задаваемые вопросы:</h2>
<p></p>
<h4>Где взять команду Shortcuts для iOS/MacOS?</h4>
<p><a href="{% static 'apps/later42.shortcut' %}">Скачать команду</a>.</p>
<p>После установки команды и первого запуска из меню "Поделиться" вас попросит ввести ваш API ключ. Взять его вы
    можете в <a href="{% url 'profile' %}">вашем профиле</a>.</p>
<h4>Будет ли поддержка Android?</h4>
<p>Да, поддержка устройств на OS Android планируется через бота в Telegram. Сроки пока не известны.</p>
